Websites/CMSSolutions.Websites/Web References/VipHDBankCardServices/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Deposit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="merchantid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stan" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="termtxndatetime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="txnAmount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fee" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IssuerID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tranID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bankID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mac" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="respUrl" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DepositResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DepositResult" type="tns:reponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="reponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="responsecode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tranid" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descriptionvn" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="descriptionen" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mac" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tranid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="merchantcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mackey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getStatusResult" type="tns:reponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="comfirm">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="merchantcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tranid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="txnAmount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="confirmCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mackey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="comfirmResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="comfirmResult" type="tns:reponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DepositSoapIn">
    <wsdl:part name="parameters" element="tns:Deposit" />
  </wsdl:message>
  <wsdl:message name="DepositSoapOut">
    <wsdl:part name="parameters" element="tns:DepositResponse" />
  </wsdl:message>
  <wsdl:message name="getStatusSoapIn">
    <wsdl:part name="parameters" element="tns:getStatus" />
  </wsdl:message>
  <wsdl:message name="getStatusSoapOut">
    <wsdl:part name="parameters" element="tns:getStatusResponse" />
  </wsdl:message>
  <wsdl:message name="comfirmSoapIn">
    <wsdl:part name="parameters" element="tns:comfirm" />
  </wsdl:message>
  <wsdl:message name="comfirmSoapOut">
    <wsdl:part name="parameters" element="tns:comfirmResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="Deposit">
      <wsdl:input message="tns:DepositSoapIn" />
      <wsdl:output message="tns:DepositSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getStatus">
      <wsdl:input message="tns:getStatusSoapIn" />
      <wsdl:output message="tns:getStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="comfirm">
      <wsdl:input message="tns:comfirmSoapIn" />
      <wsdl:output message="tns:comfirmSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Deposit">
      <soap:operation soapAction="http://tempuri.org/Deposit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStatus">
      <soap:operation soapAction="http://tempuri.org/getStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="comfirm">
      <soap:operation soapAction="http://tempuri.org/comfirm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Deposit">
      <soap12:operation soapAction="http://tempuri.org/Deposit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStatus">
      <soap12:operation soapAction="http://tempuri.org/getStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="comfirm">
      <soap12:operation soapAction="http://tempuri.org/comfirm" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://bank.megapay.net.vn:10001/service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://bank.megapay.net.vn:10001/service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>